:root {
  --primary_color: #058ED2;
  --secondary_color: #950303;
  /* --theme_color: #98181e; */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* max-width: 100vw; */
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
a {
  color: inherit;
  text-decoration: none;
}
h2{
  color: var(--secondary_color);
}
.hero_image img{
  width: 100%;
  height: auto;
}
.hero_submit_btn {
  background-color: var(--secondary_color);
  width: 100%;
  border: none;
  color: #fff;
  text-transform: uppercase;
  padding: 7px 0px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
  margin-bottom: 10px;
}

.hero_submit_btn:hover {
  /* background-color: #4C7032; */
}


/* ACCORDION */
 
.accordion-item {
  margin-bottom: 17px;
  border: none !important;
}

.accordion {
  border: none !important;
}
.accordion-body {
  background-color: #EFF6F6 !important;
}

button.accordion-button.collapsed {
  background: var(--secondary_color) !important;
  color: #fff !important;
  font-weight: 700;
  font-size: 14px;
}


button.accordion-button {
  color: var(--secondary_color) !important;
  font-size: 14px;
  font-weight: 700;
  padding: 12px;
}

.accordion-button:not(.collapsed) {
  background: var(--secondary_color) !important;
  color: #fff !important;
  box-shadow: none !important;
}

/* SWIPER */
.swiper-horizontal{
  padding-bottom: 50px !important;
}
.swiper-button-prev::after, .swiper-button-next::after{
  font-size: 26px !important;
}
.swiper-button-prev{
  left: 3px !important;
}
.swiper-button-next{
  right: 3px !important;
}