.footer_list_inner ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
 

.footer_list_inner ul li {
    list-style: none;
}

.footer_list_inner ul li a {
    text-decoration: none;
    color: #555F51;
    border: 1px solid #555F51;
    border-radius: 10px;
    padding: 10px;
    display: block;
    margin: 5px;
    padding: 4px 9px;
}
.footer_btn {
    text-align: center;
    margin: 25px 0px;
    
}

.footer_btn button {
    border: none;
    background: transparent;
}

.footer_list_inner.open {
    opacity: 1;
    content-visibility: visible;
    transition: all .3s ease-in-out;
}

.footer_list_inner.close {
    opacity: 0;
    content-visibility: hidden;
    transition: all .3s ease-in-out;
}

.footer_list_inner p {
    font-size: 18px;
    color: #555;
}

.contact_list ul{
    padding: 0;
    margin: 0;
}



@media screen and (max-width: 552px) {
    .contact_list ul li img {
        display: none;
    }
    .contact_list ul {
        flex-wrap: wrap;
    }
    .contact_list ul li {
        list-style: none;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 424px) {
    .contact_list ul li:nth-child(2) p{
        font-size: 18px !important;
    }
}