.navbar_section {
  background-image: url("../../assets/images/header_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #4c7032;
  background-blend-mode: darken;
}
/* .navbar_section::before{
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(76, 112, 50, 1);
} */

.navbar_wrapper {
  background: #98181e;
  /* padding-bottom: 22px; */
  position: fixed;
  width: 100%;
  z-index: 99999 !important;
}
.navbar_inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.hero_form_section {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

.textarea,
.input {
  width: 100%;
  border-radius: 3px;
  outline: none;
  margin-bottom: 8px;
  border: 1px solid #eff1f3;
  padding: 4px 8px;
}
.input::placeholder {
  color: #000;
}

.phone a {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  font-weight: 700;
}

.hero_fm_title {
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  color: var(--secondary_color);
}
.fm_text {
  text-align: center;
  font-size: 13px;
}

.fm_text p {
  margin: 0;
}
.get_update {
  /* color: var(--secondary_color); */
  color: #98181e;
}

.hero_section {
  padding: 145px 0px 30px 0px;
}
.circle {
  color: #fff;
  margin-right: 5px;
}

.h_list ul li {
  list-style: none;
}

.h_list ul {
  margin: 0;
  padding: 0;
  color: #fff;
}

.h_list ul li strong {
  font-weight: 700;
  margin-right: 5px;
}

.helo_right_content {
  color: #fff;
  margin-left: 33px;
}

.helo_right_content h4 {
  font-size: 20px;
  font-weight: 700;
}

.helo_right_content p {
  font-size: 14px;
  margin: 12px 0px 15px 0px;
}
.infoIcon {
  color: var(--secondary_color);
}

.error {
  text-align: left;
  color: red;
  font-weight: 600;
}
.logo_wrapper {
  display: flex;
  gap: 100px;
}
.logo {
  position: relative;
  width: 185px;
}
.nav_logos {
  display: flex;
  gap: 15px;
  align-items: center;
}
.nav_logos img {
  width: 50px;
  height: auto;
}
.nav_logos img:nth-child(1) {
  width: 65px;
}
.nav_logos img:nth-child(2) {
  width: 60px;
}

.logo img {
  position: absolute;
  width: 230px;
  height: auto;
  top: 3px;
}

@media screen and (max-width: 767px) {
  .hero_content {
    padding-bottom: 40px;
  }

  .logo img {
    position: unset;
    width: 100px;
    top: unset;
  }
}
@media screen and (max-width: 552px) {
  .navbar_inner {
    flex-wrap: nowrap;
    justify-content: center;
    padding: 1.2rem 0;
  }
  .logo_wrapper {
    gap: 0px;
  }
  .nav_logos img {
    width: 30px;
    height: 30px;
  }
  .nav_logos img:nth-child(1),
  .nav_logos img:nth-child(2) {
    width: 40px;
    height: 40px;
  }
  .nav_logos {
    display: none;
  }
  .phone a{
    font-size: 18px;
  }
}
