.question_section {
    margin: 60px 0px;
}
.question_title h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.question_title {
    max-width: 1224px;
    margin: auto;
    margin-bottom: 40px;
}
.readmorebtn {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 14px;
}

.read_txt_list ul li {
    list-style: none;
}

.read_txt_list ul {
    margin: 0;
    padding: 0;
}

.second_list ul {
    margin: 0;
    padding: 0;
}

.second_list ul li {
    list-style: none;
}